/** @format */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: #efefef;
	color: #616161;
}

h1,
h2,
p {
	margin-top: 0;
}

.main {
	display: grid;
	grid-template-columns: 50% 50%;
}

.main-characters-list {
	padding: 10px;
}

.main-characters-list-row {
	cursor: pointer;
}

.main-characters-details {
	padding: 10px;
}

.main-characters-details-container {
	display: flex;
	flex-wrap: wrap;
}

.main-characters-details-item {
	max-width: 150px;
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 1);
}

.main-characters-details-item img {
	width: 100%;
	cursor: pointer;
}

button {
	display: inline-block;
	text-align: center;
	padding: 15px 30px;
	border: none;
	border-radius: 5px;
	background: #ff3b3f;
	color: white;
	font-size: 16px;
	font-weight: 700;
}
button:hover {
	background: #c62d30;
}
button:active {
	transform: scale(0.98);
}

dialog {
	border: 1px solid #616161;
	background-color: #efefef;
}

dialog button {
	display: block;
	margin: 5px auto;
}
